<header>
    <div class="px-3 py-2 bg-dark text-white">
      <div class="container">
        <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
          <div class="d-flex align-items-center my-2 my-lg-0 me-lg-auto text-white text-decoration-none">
            <img src="/assets/images/logo-transparent.png" style="width: 75px; height: 75px">
            <h3 class="display-6 ps-4">Encounter Tracker</h3>
          </div>
          <ul class="nav col-12 col-lg-auto my-2 justify-content-center my-md-0 text-small">
            <li class="row text-center" [ngClass]="{'fw-bold' : currentTab == 'home'}" (click)="setTab('home')">
                <div class="d-table">
                    <fa-icon [icon]="faHouseChimney" class="col-12 d-table-cell align-bottom" size="lg"></fa-icon>
                </div>
                <div>Home</div>
            </li>
            <li class="row text-center" [ngClass]="{'fw-bold' : currentTab == 'tracker'}" (click)="setTab('tracker')">
                <div class="d-table">
                    <fa-icon [icon]="faDiceD20" class="col-12 d-table-cell align-bottom" size="lg"></fa-icon>
                </div>
                <div>Tracker</div>
            </li>
            <li class="row text-center" [ngClass]="{'fw-bold' : currentTab == 'parties'}" (click)="setTab('parties')">
                <div class="d-table">
                    <fa-icon [icon]="faUsersBetweenLines" class="col-12 d-table-cell align-bottom" size="lg"></fa-icon>
                </div>
                <div>Parties</div>
            </li>
            <li class="row text-center" [ngClass]="{'fw-bold' : currentTab == 'encounters'}" (click)="setTab('encounters')">
                <div class="d-table">
                    <fa-icon [icon]="faBookSkull" class="col-12 d-table-cell align-bottom" size="lg"></fa-icon>
                </div>
                <div>Encounters</div>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </header>