<div class="row">
  <div class="col-1"></div>
  <!-- This is our main content block for the party component -->
  <div class="col">
    <div class="card mt-2">
      <div class="card-header">
        <p class="h3">Create a Party</p>
      </div>
      <div class="card-body">

      </div>
    </div>

    <div *ngIf="parties.length > 0" class="card mt-2">
      <div class="card-header">
        <p class="h3">Existing Parties</p>
      </div>
      <div class="card-body">
        <ol class="list-group">
          <li *ngFor="let party of parties | slice: (page-1) * pageSize : page * pageSize" (click)="changeSelected(party)" [ngClass]="{'active-party' : activeParty == party}" class="party-list-item list-group-item d-flex justify-content-between align-items-start">
            <div class="ms-2 me-auto">
              <h5 class="fw-bold">{{party.name}}</h5>
              {{party.description}}
            </div>
            <span class="badge bg-primary rounded-pill">{{ party.length }} {{ party.length == 1 ? 'Hero' : 'Heroes' }}</span>
          </li>
        </ol>
      </div>
    </div>

    <div *ngIf="activeParty" class="card mt-2">
      <div class="card-header">
        <p class="h3">{{activeParty.name}}</p>
      </div>
      <div class="card-body">

      </div>
    </div>
  </div>
  <div class="col-1"></div>
</div>

