<mat-card class="example-card">
  <mat-card-title>Player Characters</mat-card-title>
  <mat-card-content>
    <p>Add PC's below to track health during combat.</p>
    <form>
      <table cellspacing="0">
        <tr>
          <td>
            <mat-form-field appearance="fill">
              <mat-label>Name</mat-label>
              <input matInput placeholder="Ex. Torinn" />
            </mat-form-field>
          </td>
          <td>
            <mat-form-field appearance="fill">
              <mat-label>URL</mat-label>
              <input matInput placeholder="Ex. dndbeyond.com" />
            </mat-form-field>
          </td>
          <td>
            <mat-form-field appearance="fill">
              <mat-label>Max Health</mat-label>
              <input matInput placeholder="Ex. 35" type="number" />
            </mat-form-field>
          </td>
          <td>
            <button
              mat-icon-button
              color="accent"
              aria-label="Example icon button with a menu icon"
            >
              <mat-icon>person_add</mat-icon>
            </button>
          </td>
        </tr>
      </table>
    </form>

    <div cdkDropList (cdkDropListDropped)="drop($event)">
      <div *ngFor="let hero of heroes" cdkDrag>
        {{ hero }}
      </div>
    </div>
  </mat-card-content>
</mat-card>
