<mat-card class="player-card">
  <mat-card-title>Initiative Tracker</mat-card-title>
  <mat-card-content>
    <p>Add characters's below to track health during combat.</p>
    <form>
      <mat-form-field class="new-character-type" appearance="fill">
        <mat-label>Character Type</mat-label>
        <mat-select [(value)]="newType">
          <mat-option *ngFor="let characterType of characterTypes" [value]="characterType.value">
            {{characterType.viewValue}}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field class="new-character-name" appearance="fill">
        <mat-label>Name</mat-label>
        <input 
        name="nameInput"
        [(ngModel)]="newName" matInput placeholder="Ex. Torinn" />
      </mat-form-field>
      <mat-form-field class="new-character-url" appearance="fill">
        <mat-label>URL</mat-label>
        <input
          name="urlInput"
          [(ngModel)]="newUrl"
          matInput
          placeholder="Ex. dndbeyond.com"
        />
      </mat-form-field>
      <mat-form-field class="new-character-health" appearance="fill">
        <mat-label>Max Health</mat-label>
        <input 
        name="healthInput"
        [(ngModel)]="newHealth" matInput placeholder="Ex. 35" type="number" />
      </mat-form-field>
      <mat-form-field class="new-character-initiative" appearance="fill">
        <mat-label>Initiative</mat-label>
        <input 
        name="initiativeInput"
        [(ngModel)]="newInitiative" matInput placeholder="Ex. 14" type="number" />
      </mat-form-field>
      <button
        mat-icon-button
        color="accent"
        aria-label="Example icon button with a menu icon"
        (click)="addHero()"
        class="mat-form-field-wrapper"
        [disabled]="!newType || !newName || !newInitiative || !newHealth"
      >
        <mat-icon>person_add</mat-icon>
      </button>
    </form>
    <mat-divider></mat-divider>

    <div class="character-list" cdkDropList cdkDropListSortingDisabled (cdkDropListDropped)="drop($event)">
      <div
        class="example-box"
        *ngFor="let hero of heroes; index as indexOfElement"
        cdkDrag
      >
        <button mat-stroked-button target="_blank" class="hero-type">{{ hero.type }}</button>
        <div>
          <button mat-stroked-button target="_blank" class="hero-name">{{ hero.name }}
            <a *ngIf="hero.link" mat-icon-button href="{{hero.link}}" aria-label="Go to attached link" target="_blank">
              <mat-icon>open_in_new</mat-icon>
            </a>
          </button>
        </div>
        <div class="hero-initiative">
          <b>Initiative: </b>{{ hero.initiative }}
          <button mat-icon-button (click)="openInitiativeDialog()">
            <mat-icon>edit</mat-icon>
          </button>
        </div>
        <div class="hero-health">
          <b>Curr/Max HP: </b>{{ hero.currHealth }}/{{ hero.maxHealth }}
          <button mat-icon-button>
            <mat-icon>edit</mat-icon>
          </button>
        </div>
        <button
          mat-icon-button
          color="accent"
          aria-label="Example icon button with a menu icon"
          (click)="removeHero(indexOfElement)"
        >
          <mat-icon>person_remove</mat-icon>
        </button>
      </div>
    </div>
  </mat-card-content>
</mat-card>
