<mat-card class="example-card">
  <mat-card-title>Player Characters</mat-card-title>
  <mat-card-content>
    <p>Add PC's below to track health during combat.</p>
    <form>
      <table cellspacing="0">
        <tr>
          <td>
            <mat-form-field appearance="fill">
              <mat-label>Name</mat-label>
              <input #name matInput placeholder="Ex. Torinn" />
            </mat-form-field>
          </td>
          <td>
            <mat-form-field appearance="fill">
              <mat-label>URL</mat-label>
              <input #url matInput placeholder="Ex. dndbeyond.com" />
            </mat-form-field>
          </td>
          <td>
            <mat-form-field appearance="fill">
              <mat-label>Max Health</mat-label>
              <input #maxHealth matInput placeholder="Ex. 35" type="number" />
            </mat-form-field>
          </td>
          <td>
            <button
              mat-icon-button
              color="accent"
              aria-label="Example icon button with a menu icon"
              (click)="addHero(name.value, url.value, maxHealth.value)"
            >
              <mat-icon>person_add</mat-icon>
            </button>
          </td>
        </tr>
      </table>
    </form>

    <div cdkDropList (cdkDropListDropped)="drop($event)">
      <div
        class="example-box"
        *ngFor="let hero of heroes; index as indexOfElement"
        cdkDrag
      >
        <div>
          <a href="{{ hero.link }}">{{ hero.name }}</a>
        </div>
        <div>{{ hero.currHealth }}/{{ hero.maxHealth }}</div>
        <button
          mat-icon-button
          color="accent"
          aria-label="Example icon button with a menu icon"
          (click)="removeHero(indexOfElement)"
        >
          <mat-icon>person_remove</mat-icon>
        </button>
      </div>
    </div>
  </mat-card-content>
</mat-card>
